* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
}

button,
input {
  font-family: inherit;
}

header {
  text-align: center;
  margin-top: 24px;
}

p {
  font-size: 16px;
}

form {
  width: 360px;
  margin: 24px auto;
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
}

.hidden {
  display: none;
}

.container {
  width: 480px;
  height: 480px;
  margin: 24px auto;
  border: 1px solid #eee;
}